

<div class=container-fluid>



<h1 style="color:red">Thagaval Thalam Welcomes You</h1>

<h2 style="color:brown"> CI CD Introduction class</h2>

<button type="button" class="btn btn-lg btn-primary" disabled>Primary button</button>

</div>